.input {
    width: 350px;
}

.inputContainer {
    margin: 15px;
    display: flex;
    justify-content: space-between;
    
   
}

.phones {
    width: 400px;
    height: 300px;
    background-color: #c3c3c379;
    margin: 15px 0;
}

.inputContainerPhone {
   margin: 15px;
}

.inputPhone {
    background-color: red;
}

.phones {
    margin: 20px auto;
    border-radius: 5px;
}